[project]
name = "concierge"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13.7"
dependencies = [
    "numpy>=2.3.3",
    "openai>=1.107.2",
    "openai-agents[voice]>=0.3.0",
]
